{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mx-auto mt-10">
    <h2 class="text-2xl font-bold mb-6">Crear Ficha Médica</h2>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Crear Ficha Médica
            </button>
        </div>
    </form>
</div>
{% endblock %}